[Unit]
Description=Enable persistent system packages without breaking SteamOS updates
Requires=usr.mount
Wants=overlay-units.service

[Install]
WantedBy=default.target